.red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    left: 200px;
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    bottom: 100px;
}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    bottom: 200px;
    left: 100px;
}