.Heading{
    background-color: #E4F9F5;
    position: relative;
    padding: 100px;
}
.remove{
    margin:0px;
    text-align: center;
}
.top-container{
    background-color: aquamarine;
    width:200px;
    height:200px;
}
.middle-container{
    background-color: aquamarine;
    width:200px;
    height:200px;
}
.bottom-container{
    background-color: aquamarine;
    width:200px;
    height:200px;
}
.long-container{
    background-color: aquamarine;
    width:200px;
    height:200px;
}
.displayin{
    display: inline-block;
}
.bottom-cloud{
    position: absolute;
    right: 260px;
}
.top-cloud{
    position: absolute;
    left:260px;
}