.Heading{
    background-color: #F7ECDE;
}
.remove{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.body{
    margin:0px;
}