.Heading{
    background-color: #F7ECDE;
}
.remove{
    margin:0px;
}
.top-container{
    background-color: aquamarine;
    width:200px;
    height:200px;
}
.middle-container{
    background-color: aquamarine;
    width:200px;
    height:200px;
}
.bottom-container{
    background-color: aquamarine;
    width:200px;
    height:200px;
}
.long-container{
    background-color: aquamarine;
    width:200px;
    height:200px;
}
.displayin{
    display: inline-block;
}